{% extends 'basecliente.html.twig' %}

{% block title %}Mi carrito{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <br>
                <h2 class="alert alert-info">Mi carrito</h2>    
            </div>

            <div class="container">
                <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in detalles %}
                         <tr>
                            <td>{{detalle.Productoproducto.ProNombre}}</td>
                            <td>{{detalle.CantidadProducto}}</td>
                            <td>{{detalle.TotalDetalle}}</td>
                            <td>
                                <a class="btn btn-danger" href="{{path('quitar',{id:detalle.IddetalleCompra})}}">
                                    <i class="fas fa-trash-alt"></i> Quitar
                                </a>
                            </td>
                        </tr>       
                        {% endfor %}
                        
                    </tbody>
                </table>
                </div>
                
            </div>
        </div>

        <div class="container">
            {% if detalles != null %}
                <br><br>
                <h2>Total: {{pedido.SaldoSocias}}</h2>
                <button class="btn btn-success btn-lg" onclick="msj_pedido()">Pedir</button>
                <button class="btn btn-danger btn-lg">Cancelar</button>
            {% endif %}
            
            
            
        </div>
    </div>

    
    <!-- Modal -->
    <div class="modal fade" id="detallePedido" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h4 class="modal-title" id="modelTitleId">Detalle Entrega</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        Esta seguro de realizar el pedido
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Si</button>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}

{% block script_extra %}

<script type="text/javascript">
    function msj_pedido(){
        $("#detallePedido").modal("show");
    }
</script>
{% endblock %}